/* Reset and base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
